#container{
    margin: auto;
    width: 1200px;
}

header {
    padding: 10px 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border: 2px solid #000000;
    position: relative;
}

.buscar{
    position: relative;
    float: right;
    top: -80px;
    right: 8px;
}

#menu{
    padding: 10px 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 2px solid #000000;
    position: relative;
}

.asideIzquierda {
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid #000000;
    position: relative;
    float: left;
    width: 20%;
    height: 962px;
}

.main {
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid #000000;
    position: relative;
    width: 55%;
    float: left;
}

.asideDerecha {
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid #000000;
    position: relative;
    float: left;
    width: 30%;
}


.footer {
    padding: 10px 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 2px solid #000000;
    position: relative;
    clear: both;
}

.centro {
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid #000000;
    position: relative;
    float: left;
    width: 71%;
    top: -12px;
}

#copyright{
    position: relative;
    top: -35px;
    float: right;
}

